<div class="container-fluid" class="rules">

    <div class="row justify-content-center">
        <div class="col m-3 text-center justify-content-center">
            <div class="m-2">

                <h1> Rules !</h1>
                <ul>
                    <li>
                        <h2> All the question carry equal marks, there are total 10 questions.</h2>
                    </li>
                    <li>
                        <h2> you will get 15 min to do all the questions and submit the test.</h2>
                    </li>
                    <li>
                        <h2> relax- there is no negative marking.</h2>
                    </li>
                    <li>

                        <h2> you need to score atleast 7 out of 10 </h2>
                    </li>

                    <h2> All the best</h2>
                </ul>
                <div>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-5 d-flex justify-content-center">
                    <button routerLink="../questions" class="btn m-5 btn-success">start test</button>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-5 d-flex justify-content-center">
                    <h1>{{result}}</h1>

                </div>
            </div>
        </div>