<nav class="navbar fixed-top">
    <a href="" class="navbar-brand fixed text-white">asim-technology/carriers</a>
    <ul class="navbar-nav navbar-expand-sm">
        <li class="nav-item">
            <a routerLink="signin" class="nav-link mx-2 text-white" type="button" role="button">signin</a>
        </li>
        <li class="nav-item">
            <a routerLink="login" class="nav-link mx-2 text-white" type="button" role="button">login</a>
        </li>
    </ul>
</nav>
<div class="gap"></div>

<router-outlet></router-outlet>





